@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron&display=swap");
.swal2-popup {
    font-family: "Orbitron", sans-serif !important;
    background: black !important;
    border-radius: 0 !important;
    width: 600px !important;
    padding: 20px !important;
    color: #00eb37 !important;
    border: #00eb37 2px dashed !important;
}
.swal2-title {
    font-size: 18px !important;
    text-align: left !important;
}
.swal2-confirm {
    background-color: black !important;
    color: #00eb37 !important;
    font-family: "Orbitron", sans-serif;
    border: 2px dashed #00eb37 !important;
    box-shadow: none;
    text-decoration: none;
    height: 50px;
    width: 70px;
    cursor: pointer;
}
.swal2-confirm:hover {
    border: 2px solid #00eb37 !important;
}
